*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'CircularStd', 'Yekan Bakh', monospace;
    line-height: 1.2rem;
}


@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/Yekan\ Bakh\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Medium.ttf') format('truetype');
}