*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.2rem;
}

.fa {
    direction: rtl;
    font-family: 'Arvo', 'Yekan Bakh', monospace;
}

.other {
    direction: ltr;
    font-family: 'Arvo', 'Yekan Bakh', monospace;
}


@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/YekanBakh-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo-Regular.ttf') format('truetype');
}