{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="col form-group mb-3">
        <label class="mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block text-danger">{{ error }}</span>
        {% endfor %}
    </div>
{% endfor %}

<div class="col-12 mx-auto">
  {% for error in form.non_field_errors %}
    <p class="text-danger fs-bold">{{ error }}</p>
  {% endfor %}
</div>

