{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-10 row shadow bg-light rounded h-75 p-0">
                <div class="col-3 d-flex gap-4 h-100 rounded">
                    <ul class="nav flex-column justify-content-around align-items-center gap-5 h-100 w-100 p-4 text-center">
                        <li class="nav-item">
                          <a class="nav-link 
                              {% if url == 'edit' %} text-bg-primary rounded active {% else %} link-dark {% endif %}"
                            href="{% url "account:edit" %}">
                            {% translate "Account Information" %}
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link 
                              {% if url == 'groups' %} text-bg-primary rounded active {% else %} link-dark {% endif %}"
                            href="{% url "account:groups" %}">
                            {% translate "Groups" %}
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link 
                              {% if url == 'permissions' %} text-bg-primary rounded active {% else %} link-dark {% endif %}"
                            href="{% url "account:permissions" %}">
                            {% translate "Permissions" %}
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link 
                              {% if url == 'sessions' %} text-bg-primary rounded active {% else %} link-dark {% endif %}"
                            href="{% url "account:sessions" %}">
                            {% translate "Sessions" %}
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link link-danger" href="{% url "account:logout" %}">
                              {% translate "Log out" %}
                          </a>
                        </li>
                      </ul>
                    <div class="vr"></div>
                </div>
                {% block profile_view %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block page_js %}
    <script>
      $(".nav a").each(function(){
        $(this).on("mouseenter", function(){
              v = $.trim($(this).text())
              if(v == "{% translate "Log out" %}"){                
                $(this).addClass("text-bg-danger")
                $(this).removeClass("link-danger")
              } else {
                $(this).addClass("text-bg-primary")
                $(this).removeClass("link-dark")
              }
            $(this).addClass("rounded")
        })
        $(this).on("mouseleave", function(){
            v = $.trim($(this).text())
            if(!$(this).hasClass('active')){
              if(v == "{% translate "Log out" %}"){
                $(this).removeClass("text-bg-danger")
                $(this).addClass("link-danger")
              } else {
                $(this).removeClass("text-bg-primary")
                $(this).addClass("link-dark")
              }
                $(this).removeClass("rounded")
            }
        })
      })
    </script>
{% endblock %}
