{% extends "base.html" %}

{% load i18n %}


{% block content %}
<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-6 row align-items-center">
            <div class="col-12 row justify-content-center">
                <p class="col-auto shadow fs-4 p-4 text-light bg-primary rounded ">
                    {% translate "Auth0n SSO" %}
                </p>
            </div>
            <div class="col-12 shadow bg-light p-4 ">
                <form method="POST" class="row row-cols-2 align-items-center" novalidate>
                    {% csrf_token %}
                    {{ form }}
                    <div class="col-12 row justify-content-end">
                        <button type="submit" class="col-auto btn btn-success">
                            {% translate "Sign Up" %} <i class="bi bi-check-lg"></i>
                        </button>
                    </div>
                </form>
                <a href="{% url 'account:login' %}" class="text-primary">{% translate "Sign On" %}</a>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
