{% load i18n %}

<div class="modal fade" id="tokenDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{% translate "Are you sure you want to delete this token ?" %}</p>
                <form action="{% url "dashboard:token_delete" token_id %}" method="POST" novalidate>
                    {% csrf_token %}
                    <input class="btn btn-danger float-end" type="submit" name="allow" value="{% translate "Yes" %}">
                </form>
            </div>
        </div>
    </div>
</div>